body{
    direction: rtl;
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    max-width: none;
}

#logo {
    margin: 20px;
    text-align: center;
}

#blue_box {
    margin: 0;
    padding: 0;
    border: 15px solid #103c93;
}

#current_locale {
    color: #fff;
    background: #103c93;
    float: left;
    margin: 0.5em 1em 0 1em;
}

#current_locale a {
    color: #fff;
}

#lang_choice {
    float: left;
    margin: 0.5em 1em 0 1em;
    padding: 0;
    background: #ecf3f9;
    border: 1px solid #1347c3;
}

#lang_choice ul {
    list-style: none;
    padding: 0;
    margin: 5px 5px 5px 5px;
}

#locale {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

#locale img {
    border: none;
}


#form_small {
    vertical-align: middle;
    margin: 10px auto;
    width: 80%;
}

#form_small input[type=text] {
    border: 1px solid #c4d6e4;
    width: 20em;
}

#form_small select {
    border: 1px solid #c4d6e4;
    width: 100px;
    height: 1.4em;
}

#form_small img {
    float: right;
    margin-left: 1em;
}

#form {
    margin: 0 auto;
    padding: 15px;
    width: 50%;
    background: #ecf3f9;
}

#form ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#form ul li {
    margin: 0;
    padding: 0;
}

#form_mode {
    text-align: right
}

#form_mode a {
    font-size: small;
    font-weight: bold;
    padding: 5px 8px 0 8px;
    margin: 0;
    color: #103c93;
}

#form_mode a:hover {
    background: #fff;
    text-decoration: none;
}

#form_mode ul li {
    display: inline;
}

#form_query {
    background: #fff;
    margin: 0;
    padding: 3px 3px 3px 3px;
}

#form_query input {
    border: 1px solid #c4d6e4;
    font-size: large;
    width: 100%;
}

#form_langs {
    position: relative;
    display: block;
    width: 100%;
    margin: 5px 0 0 0;
    height: 1.7em;
}

#form_lang_src {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.7em;
    width: 40%;
}

#form_lang_dst {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.7em;
    width: 40%;
}

#form_lang_switch {
    display: block;
    height: 1.7em;
    text-align: center;
    vertical-align: middle;
}

#form_submit {
    display: block;
    margin: 0;
    padding: 0;
}

#form_submit input {
    margin: 0;
    padding: 0;
}

#stats {
    margin: 10px auto;
    font-size: small;
    text-align: center;
}

#stats ul {
    padding: 0 0 30px 0;
    list-style: none;
}

#stats ul li {
    display: inline;
    padding: 0 15px;
    border-width: 1px;
    border-color: #999;
    border-style: none none none solid;
}

#stats ul li.last {
    border-style: none;
}

#bottom {
    margin: 15px 0 0 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 400px;
    background: #1347c3 url(/images/bg-bottom.png) repeat-x top;
}

#nav {
    position: relative;
    top: 15px;
    font-size: small;
    margin: 0 auto;
    padding: 0 15px;
    height: auto;
    width: 50%;
    background: #1344a7;
}

#nav a {
    color: #fff;
}

#nav ul {
    margin: 15px 0;
}

#nav li {
    margin: 3px 15px;
}

#nav li:hover {
    background: #1347c3;
}

#nav a:hover {
    text-decoration: none;
}

#nav ul {
    list-style: none;
}

#global {
    float: right;
    width: 50%;
}

#global ul {
    border-width: 1px;
    border-color: #969a9d;
    border-style: none none none solid;
}

#local {
    float: right;
    width: 50%;
}

.ltr {
    direction: ltr;
}

.center {
    text-align: center;
}

.right {
    text-align: left;
}

.clear {
    position: static;
    display: block;
    clear: both;
}

.close {
    color: #1347c3;
    float: left;
    border: 1px solid #1347c3;
    font-size: small;
    margin: 2px 2px 2px 3px;
    padding: 0px 2px 0px 2px;
}

.close a {
    text-decoration: none;
}

.close a:hover {
    color: #234;
    text-decoration: none;
}

.close_out {
    position: relative;
}

.fuzzy {
    font-size: 0.7em;
    color: #696;
}

a {
    color: #58B;
    text-decoration: none;
}

a:active, a:focus {
    outline: 0;
}

a:hover {
    color: #234;
    text-decoration: underline;
}

a.fuzzy {
    color: #696;
}

h1 a:hover {
    color: #58B;
    text-decoration: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    text-align: right;
}

th, td {
    padding: 2px 10px;
    vertical-align: top;
}

img {
    border: none;
}

dl, h1, h2, h3, p, pre, ol, ul.hof {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

pre {
    direction: ltr;
}

td ol {
    width: auto;
}
